<h1>School Class Form</h1>

<%= form_for(@school_class) do |f| %>
  <%= f.label :school_class_title %><br>
  <%= f.text_field :school_class_title %><br>

  <%= f.label :school_class_room_number %><br>
  <%= f.text_field :school_class_room_number %><br>

  <%= f.submit "Create School class" %>
<% end %>
